build/
node_modules/
output/
*.d
*.o
*.a
*.so
*.pyc
*.pyo
__pycache__
compile_commands.json
/tests
.DS_Store
.idea

/subprojects/*
!/subprojects/packagefiles
!/subprojects/openssl.wrap
!/subprojects/libsrtp2.wrap
!/subprojects/sergiusthebest-plog.wrap
!/subprojects/usrsctp.wrap
!/subprojects/json.wrap
!/subprojects/plog.wrap
!/subprojects/libjuice.wrap
/prefix/
